@page 
@model Yang.Weather.Core.WebApp.Pages.WeatherHistoryModel
@{
    ViewData["Title"] = "Weather History";
}
<h1>@ViewData["Title"]</h1>
@if (Model.WeatherHistory != null && Model.WeatherHistory.Count > 0)
{ 
    <div class="row ">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Weather Id</th>
                <th scope="col"> Geocode Id</th>
                <th scope="col">Temp.</th>
                <th scope="col">Condition</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var w in Model.WeatherHistory)
                {
                    <tr>
                        <th scope="row">@w.Id </th>
                        <td>@w.GeoCodeId </td>
                        <td>@w.Temperature</td>
                        <td>@w.Condition</td>
                        <td>@w.LastUpdatedDate.ToShortDateString()</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <span class="row-cols-sm-6">@Model.WeatherHistoryStatus </span>
    </div>
}
else
{
    <div class="row">
       No history recods found.
    </div>

}


